/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
}

h1 {
    color: #333;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    color: white;
}

#create-theaterBtn {
    background-color: #007bff;
}

#theater-overviewBtn {
    background-color: #28a745;
}

#admin-return-button {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.8;
}
